$color-primary: #272727;
$color-secondary: #fff;
$color-main: #04e277;
$color-main-sub: #0bd072;
$color-main-dark: #197c00;
$color-grey-light: #cdcdcd;
$color-grey: #6f6f6f;

$desktop: 1600px;
$desktop-intermediate: 1299px;
$laptop: 1200px;
$tablet: 1000px;
$intermediate: 670px;
$mobile: 563px;


// mixin

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
@mixin desktop-intermediate {
  @media (max-width: #{$desktop-intermediate}) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin intermediate {
  @media (max-width: #{$intermediate}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


@keyframes rotation {
 to {
  transform: rotate(360deg);
 }
}